@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* TailwindCSS blue-600 */
    --primary-color: #2563eb;
    --hover-brightness: 20%;
}

.dark {
    /* TailwindCSS blue-400 */
    --primary-color: #60a5fa;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
    color: var(--primary-color);
    text-decoration: none;
}

svg {
    fill: var(--primary-color);
}

a:hover,
svg:hover {
    filter: brightness(calc(100% - var(--hover-brightness)));
}

.dark a:hover,
.dark svg:hover {
    filter: brightness(calc(100% + var(--hover-brightness)));
}