{{ define "main" }}
{{ if eq .Type "blog" }}
<h1>{{ .Title }}</h1>
<p>
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}'>
      {{ .Date.Format (default "1 Jan 1970" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}
<article>
  {{ .Content }}
</article>

{{ if eq .Type "blog" }}
{{ if .Param "enablePostNavigator" }}
{{- partial "post_navigator.html" . -}}
{{ end }}

<p>
  {{ range .GetTerms "tags" }}
  <a href="{{ .Permalink }}">#{{ .LinkTitle | lower }}</a>
  {{ end }}
</p>
{{ end }}
{{ end }}
