---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION } from "../consts";
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Home" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header>
      <Nav />
    </Header>
    <main>
      <h2>Hey, I'm Harley Wilson</h2>
      <p>
        I'm a programmer, husband, dog owner, reader, and BJJ practitioner from
        Perth, Western Australia.
      </p>
      <p>
        I work as a Software Engineer with <a href="https://secdim.com/"
          >SecDim</a
        >. I am in my final year of studies for a Bachelor of Computing. I was
        previously a Police Officer for nine years.
      </p>
      <p>
        Feel free to <a href="mailto:hi@harleyjwilson.com?subject=Hello"
          >email me</a
        >. See my code on <a href="https://github.com/harleyjwilson">GitHub</a> or
        my <a href="https://www.linkedin.com/in/harleyjwilson/">LinkedIn</a> profile.
      </p>
    </main>
  </body>
</html>
