---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION } from "../consts";
import Nav from "../components/Nav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Home" description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header>
      <Nav />
    </Header>
    <main>
      <h2>Hey, I'm Harley Wilson</h2>
      <p>
        I'm a programmer, husband, father, dog owner, reader, and
        Brazilian Jiu-Jitsu (BJJ) practitioner based in Perth, Western
        Australia.
      </p>
      <p>
        I am a Software Engineer at <a href="https://secdim.com/">SecDim</a>.
        Recently, I completed my Bachelor of Computing after transitioning into
        the tech field from a nine-year career as a Police Officer.
      </p>
      <p>
        Feel free to <a href="mailto:hi@harleyjwilson.com?subject=Hello"
          >email me</a
        >, connect with me on <a
          href="https://www.linkedin.com/in/harleyjwilson/">LinkedIn</a
        >, or check out my code on <a href="https://github.com/harleyjwilson"
          >GitHub</a
        >.
      </p>
    </main>
  </body>
</html>
