---
import NavLinks from "./NavLinks.astro";
import NavIcons from "./NavIcons.astro";
---

<header>
  <div id="desktopNav" class="hidden md:flex md:justify-between md:pb-8">
    <div class="font-bold text-xl"><a href="/">Harley Wilson</a></div>
    <nav class="flex gap-6">
      <NavLinks />
      <NavIcons />
    </nav>
  </div>

  <div id="mobileNav" class="md:hidden">
    <div class="flex justify-between pb-2">
      <div class="font-bold text-xl"><a href="/">Harley Wilson</a></div>
      <NavIcons />
    </div>
    <nav class="flex gap-4 pb-8 md:gap-6">
      <NavLinks />
    </nav>
  </div>
</header>

<script is:inline>
  let theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
    document.querySelectorAll(".themeToggle").forEach((item) => {
      item.style.transform = "rotate(0deg)";
    });
  } else {
    document.documentElement.classList.add("dark");
    document.querySelectorAll(".themeToggle").forEach((item) => {
      item.style.transform = "rotate(90deg)";
    });
  }

  window.localStorage.setItem("theme", theme);

  const handleToggleClick = () => {
    document.documentElement.classList.toggle("dark");

    if (document.documentElement.classList.contains("dark")) {
      localStorage.setItem("theme", "dark");
      document.querySelectorAll(".themeToggle").forEach((item) => {
        item.style.transform = "rotate(90deg)";
      });
    } else {
      localStorage.setItem("theme", "light");
      document.querySelectorAll(".themeToggle").forEach((item) => {
        item.style.transform = "rotate(0deg)";
      });
    }
  };

  document.querySelectorAll(".themeToggle").forEach((item) => {
    item.addEventListener("click", handleToggleClick);
  });
</script>
