<footer>
    <div
        class="pt-8 py-4 mt-24 border-t-[1px] max-w-md mx-auto text-sm font-light tracking-[0.01rem] text-center text-gray-600"
    >
        Harley Wilson © 2023
    </div>
</footer>
