---
import NavIcons from "../components/NavIcons.astro";
---

<header class="flex justify-between pb-8">
    <div class="font-bold text-xl"><a href="/">Harley Wilson</a></div>
    <NavIcons />
</header>
