---
import NavSocial from "../components/NavSocial.astro";
import ThemeSwitcher from "../components/ThemeSwitcher.astro";
---

<div class="flex gap-4 md:gap-6">
    <NavSocial />
    <ThemeSwitcher />
</div>
