---
const SOCIAL = [
    {
        path: "mailto:hi@harleyjwilson.com",
        title: "Email",
        icon: "/icons/mail.svg",
    },
    {
        path: "https://twitter.com/harleyjwilson",
        title: "Twitter",
        icon: "/icons/twitter.svg",
    },
    {
        path: "https://github.com/harleyjwilson",
        title: "GitHub",
        icon: "/icons/github.svg",
    },
    {
        path: "https://linkedin.com/in/harleyjwilson/",
        title: "LinkedIn",
        icon: "/icons/linkedin.svg",
    },
];
---

<section class="py-4 flex flex-row justify-center gap-6">
    {
        SOCIAL.map((social) => (
            <div>
                <a class="" href={social.path}>
                    <img
                        class="transition ease-in-out duration-300 opacity-75 hover:opacity-100 hover:shadow-lg"
                        src={social.icon}
                        alt={social.title}
                        width="20px"
                        height="20px"
                    />
                </a>
            </div>
        ))
    }
</section>
