---
import "../styles/base.css";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} />
    </head>
    <body
        class="mx-auto p-4 max-w-2xl h-screen flex flex-col font-[425] bg-neutral-50 text-neutral-900 dark:bg-neutral-900 dark:text-neutral-50"
    >
        <Header />
        <slot />
    </body>
</html>
