---
import "../styles/base.css";
import BaseHead from "../components/BaseHead.astro";

const { title } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} />
    </head>
    <body class="mx-auto flex flex-col bg-gray-50">
        <slot />
    </body>
</html>
