---
import Layout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <main class="prose dark:prose-invert">
        <slot />
    </main>
</Layout>
